{% load static %}
{% block geojs %}
{#<script src="{% static 'imagefiles/js/geojs/1.8.3/geo.min.js' %}"></script>#}
<script src="{% static 'imagefiles/js/geojs/1.8.3/geo.js' %}"></script>

<div id="imageViewer" style="width: 100%; height: 100%; z-index: 10;"></div>

{% include 'django_large_image/_include/colors.html' %}

<script>
  const containerRef = document.getElementById('imageViewer')
  var imageLayer;
  var viewer;

  fetch(`${host}/${baseEndpoint}/${imageId}/metadata`)
    .then(response => response.json())
    .then(tileinfo => {
      console.log("tileinfo['geospatial'] in metadata", tileinfo['geospatial']);
      if (tileinfo['geospatial']) {
        updateTileUrlOption('projection', 'EPSG:3857');

        // Initialize the map
        viewer = geo.map({
          node: '#imageViewer',
          clampBoundsX: true
        })
        var basemapLayer = viewer.createLayer('osm', {
          source: 'osm',
          gcs: 'EPSG:3857' // web mercator
        });

        function setBounds(extent, setMax = false) {
          if (extent != undefined && extent.xmin != undefined) {
            let xc = (extent.xmax - extent.xmin) * 0.2
            let yc = (extent.ymax - extent.ymin) * 0.2
            if (xc === 0) {
              xc = 0.01
            }
            if (yc === 0) {
              yc = 0.01
            }
            var bounds = {
              left: Math.max(extent.xmin - xc, -180.0),
              right: Math.min(extent.xmax + xc, 180.0),
              top: Math.min(extent.ymax + yc, 89.9999),
              bottom: Math.max(extent.ymin - yc, -89.9999)
            }
            viewer.bounds(bounds);
            if (setMax) {
              viewer.maxBounds(bounds)
            } else {
              viewer.zoom(viewer.zoom() - 0.25);
            }
          }
        }
        console.log("tileinfo in django_large_image geojs", tileinfo);
        setBounds(tileinfo.bounds);

        // Tile layer for showing rasters/images with large_image
        imageLayer = viewer.createLayer('osm', {
          keepLower: false,
          attribution: '',
          autoshareRenderer: false,
        });

        const dataset_bb = tileinfo.bounds;
        imageLayer.isValid = (index) => {
          const tileBounds = imageLayer.gcsTileBounds(index);
          return tileBounds.left <= dataset_bb.xmax &&
            tileBounds.right >= dataset_bb.xmin &&
            tileBounds.top >= dataset_bb.ymin &&
            tileBounds.bottom <= dataset_bb.ymax;
        }
        imageLayer.idleAfter = 'all';

        // Increase zoom range from default of 16
        viewer.zoomRange({
          min: 0,
          max: 20,
        })
      } else {
        const params = geo.util.pixelCoordinateParams(
          '#imageViewer', tileinfo.sizeX, tileinfo.sizeY, tileinfo.tileWidth, tileinfo.tileHeight);
        console.log("params in django_large_image geojs else", params);
        console.log("tileinfo in django_large_image geojs else", tileinfo);

        var params_str = JSON.stringify(params);
        console.log("params_str in django_large_image geojs else", params_str);

        params.layer.url = tileUrl;

        viewer = geo.map(params.map);

        viewer.zoomRange({
          // do not set a min limit so that bounds clamping determines min
          min: -Infinity,
          max: 12,
        });

        var layer_str = JSON.stringify(params.layer);
        console.log("params.layer in metadata else", layer_str);
        imageLayer = viewer.createLayer('osm', params.layer);
        console.log("imageLayer in metadata else", imageLayer);
      }
      // Change default interactor options
      const interactorOpts = viewer.interactor().options();
      interactorOpts.zoomAnimation = {
        enabled: false,
      };
      interactorOpts.momentum = {
        enabled: true,
      };
      viewer.interactor().options(interactorOpts);


      var ui = viewer.createLayer('ui');
      // Create a zoom slider widget
      ui.createWidget('slider', {
        position: {
          left: 40,
          top: 40
        }
      });
      bandChange();
    });

  function _callback(x, y, z) {
      return "http://127.0.0.1:9000/api/imagefile/1/tiles/"+z+"/" + x + "/" + y + ".png";
  }

  function get_url(x, y, z, cb){
      let url = cb(x, y, z);
      console.log("url in django_large_image geojs", url);
      return url;
  }


  function updateTileLayer() {
    console.log('tileUrl in django_large_image geojs updateTileLayer', tileUrl);
    tileUrl = function (x, y, z, subdomains) {
      console.log("input x,y,z,subdomains in django_large_image geojs updateTileLayer", x, y, z, subdomains);

      let res = get_url(x, y, z, _callback);
      console.log("res in django_large_image geojs updateTileLayer", res);
      return res;
    };
    imageLayer.url(tileUrl);
    {#console.log("imageLayer in django_large_image geojs updateTileLayer", imageLayer);#}
  }

  function updateTilesOpacity(e, value) {
    value = Number(value) / 100.0;
    imageLayer.opacity(value);
  }
</script>
{% endblock geojs %}
